sup.badge {
	background-color: #009284 !important;
  }
  
.dotted {
  position: absolute;
  top: 14px;
  right: 6px;
  width: 5px;
  height: 5px;
  background-color: #FF8049;
  border-radius: 50%;
  z-index: 6;
}