/* Top Banner Sliding Animation */
.banner-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.banner-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.banner-slide:hover {
  opacity: 0.8;
}
